!.gitignore
wificai-src-pcare/bin/*
wificai-src-pcare/gen/*
wificai-src-pcare/out/*
wificai-src-pcare/.idea/*
wificai-src-pcare/jni/h264Decoder/neon/jni/ffmpeg/*/*.o
wificai-src-pcare/jni/h264Decoder/neon/jni/ffmpeg/*/*/*.o
wificai-src-pcare/jni/h264Decoder/neon/libs/*
wificai-src-pcare/jni/h264Decoder/neon/obj/*
wificai-src-pcare/jni/h264Decoder/no_neon/jni/ffmpeg/*/*.o
wificai-src-pcare/jni/h264Decoder/no_neon/jni/ffmpeg/*/*/*.o
wificai-src-pcare/jni/h264Decoder/no_neon/libs/*
wificai-src-pcare/jni/h264Decoder/no_neon/obj/*
*.iml
*.apk
*.zip
*.DS_Store
*.obb
*/bin/*
*/gen/*